/* header styling */

#header-nav {
	background-color:#A9A9A9;
	border-radius: 0px;
	border: 0px;
	padding: 0px;
}

.navbar-brand {
	align-items: left;
	font-size: 2em;
	color: #000000;
}

#navbar-collapse {
	border-top: 0px;
	padding: 0px;
}

#nav-list {
	background-color: green;
	margin-top: 0px;
	padding-top: 0px;

}
/* main content styling */

.row{
	width: 100%;
}

#Our-menu-heading {
	font-size: 3em;
}
.container {
	width: 90%;
	align-self: center;
	margin-bottom: 30px;
}

.col-xs-12 {
	background-color:#A9A9A9;
	padding: 10px;
}